<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" 
</head>

<body>
    <h1>Book Component By Function</h1>
    <div class="product">
        <img class="productImage" width="300" height="200" src="../images/ex1.jpg" alt="Product description" />
        <div class="productAuthor">By Kyle Simpson</div>
        <p class="productName">Parts of the language that many JavaScript programmers simply avoid</p>
        <footer> &copy; Nati | Barak | Sapir | 2025 </footer>
    </div>
</body>

</html>